.tarjeta-actividad {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 20px;
    transition: all 0.3s ease;
  }
  
  .tarjeta-actividad:hover {
    transform: translateY(-5px);
  }
  
  .tarjeta-imagen {
    width: 40%;
    height: 100%;
    overflow: hidden;
  }
  
  .tarjeta-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .tarjeta-info {
    padding: 20px;
    flex: 1;
  }
  
  .tarjeta-titulo {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tarjeta-tipo-oportunidad {
    font-size: 1rem;
    font-weight: 600;
    color: #ff6e52;
    margin-bottom: 10px;
  }
  
  .tarjeta-filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .tarjeta-filtro {
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  
  .tarjeta-duracion-fechas {
    margin: 10px 0;
  }
  
  .tarjeta-duracion, .tarjeta-fechas {
    margin-bottom: 8px;
  }
  
  .tarjeta-descripcion {
    font-size: 1rem;
    color: #333;
    margin: 15px 0;
  }
  
  .tarjeta-habilidades, .tarjeta-donaciones {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .tarjeta-boton-detalles {
    background-color: #ff6e52;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tarjeta-boton-detalles:hover {
    background-color: #f12800;
  }
  
  /* Botones de acción */
.tarjeta-botones-accion {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .tarjeta-boton-modificar,
  .tarjeta-boton-eliminar {
    background-color: #ff6e52;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .tarjeta-boton-modificar:hover,
  .tarjeta-boton-eliminar:hover {
    background-color: #ff9e7a;
  }
  
  .tarjeta-boton-eliminar {
    background-color: #d9534f; /* Rojo para eliminar */
  }
  
  .tarjeta-boton-eliminar:hover {
    background-color: #c9302c;
  }
  