.form-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid#E8402A;
    gap: 3vw;
    max-height: 20vw; 
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #E8402A #fff;
}
.form-container::-webkit-scrollbar {
  width: 8px; 
  border-radius: 10px;
}
.form-container::-webkit-scrollbar-thumb {
    background-color: #E8402A;
    border-radius: 10px;
}

.form-container::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb:hover {
    background-color: #E8402A;
    border-radius: 10px;
}
.group-form-register{
    display: flex;
    flex-direction: column;
    gap: 2vw;

}
.span-form-register{
    font-weight: 500;
    color: #E8402A;
}
.input-form-register{
    font-family: "MuseoModerno", sans-serif;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #E8402A;
    padding: 10px;
    caret-color: #E8402A;
}
.input-form-register::placeholder{
    color: #e8402a6e;
}
.input-form-register:focus {
    border-color: #E8402A; 
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    outline: none;
}
.combo-container{
    font-family: "MuseoModerno", sans-serif;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #E8402A;
    background-color: transparent;
    color: #E8402A;

}
.combo-container:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    outline: none;
    border: 1px solid #E8402A;
}
.combo-edu{
    background-color: #fff;
}
.span-btn-registro{
    font-family: "MuseoModerno", sans-serif;
    border: 1px solid #E8402A;
    background-color: #E8402A;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.span-btn-registro:hover{
    background-color: #fff;
    color: #E8402A;
}