@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
}

body{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

